


/* fixed whats app icon.... */
.button2 {
  background: none;
  border: none;
  cursor: pointer;
    background: none !important;
  border: none !important;
}
.button2:hover
{
  background: none !important;
  border: none !important;

}

.button2 .bloom-container {
  position: relative;

  border: none;
  background: none;
}

.button2 .bloom-container .button-container-main {
  width: 110px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  border-right: 5px solid white;
  border-left: 5px solid rgba(128, 128, 128, 0.147);
  /* transform: rotate(-45deg); */
  transition: all 0.5s ease-in-out;
}

.button2 .bloom-container .button-container-main .button-inner {
  height: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  /* box-shadow: rgba(100, 100, 111, 0.5) -10px 5px 10px 0px; */
  transition: all 0.5s ease-in-out;
}

.button2 .bloom-container .button-container-main .button-inner .back {
  position: absolute;
  inset: 0;
  border-radius: 50%;

}

.button2 .bloom-container .button-container-main .button-inner .front {
  position: absolute;
  inset: 5px;
  border-radius: 50%;
 
  display: grid;
  place-content: center;
}

.button2 .bloom-container .button-container-main .button-inner .front .svg {
  fill: #ffffff;
  opacity: 0.5;
  width: 30px;
  aspect-ratio: 1;
  /* transform: rotate(45deg); */
  transition: all 0.2s ease-in;
}

.button2 .bloom-container .button-container-main .button-glass {
  position: absolute;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.888) 100%
  );
  /* transform: translate(0%, -50%) rotate(0deg); */
  transform-origin: bottom center;
  transition: all 0.5s ease-in-out;
}

.button2 .bloom-container .bloom {
  height: 1px;
  width: 1px;
  position: absolute;
  background: white;
}

.button2 .bloom-container .bloom1 {
  top: 10px;
  right: 20px;
  box-shadow:
    rgb(255, 255, 255) 0px 0px 10px 10px,
    rgb(255, 255, 255) 0px 0px 20px 20px;
}

.button2 .bloom-container .bloom2 {
  bottom: 10px;
  left: 20px;
  box-shadow:
    rgba(255, 255, 255, 0.5) 0px 0px 10px 10px,
    rgba(255, 255, 255, 0.5) 0px 0px 30px 20px;
}

.button2 .bloom-container:hover {
  transform: scale(1.1);
  background: transparent;
  box-shadow: none;
    background: none !important;
  border: none !important;
}

.button2 .bloom-container:hover .button-container-main .button-glass {
  transform: translate(0%, -40%);
}

.button2
  .bloom-container:hover
  .button-container-main
  .button-inner
  .front
  .svg {
  opacity: 1;
  filter: drop-shadow(0 0 10px white);
  height: 80px;
  width: 80px;
}

.button2 .bloom-container:active {
  transform: scale(0.7);
    background: none !important;
  border: none !important;
}

.button2 .bloom-container:active .button-container-main .button-inner {
  transform: scale(1.2);
}
